/out/
/work/

/src/Makefile

/simulations/results*
/simulations/Makefile
/simulations/*/results*
/simulations/*/*results*

/.settings/

.oppfeaturestate
.cmdenv-log
.tkenvlog
.qtenvrc
.Trash-1000

*.pcap
*.vci
*.so
*.exe
*.sca
*.vec
*.elog
*.anf
.idea
*.sca
*.vec

/doc/build
/scip